/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the app take up the full viewport height */
  font-family: 'Alegreya', serif;
  font-size: 30px;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #3C096C;
  
  
}
body{
  
  background-color: #FF6D00;
  color: #FF9E00;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #FF6D00;
  padding: 5%;
  border-radius: 20px;
  color:#3C096C;
}

label {
  display: block;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
}

select{
  margin-left: 10px;
  font-size: 20px;
  border-radius: 10px;
}
button {
  display: block;
  width: 40%;
  padding: 10px;
  background-color: #FF6D00;
  color: #3C096C;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 40px;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}


div.result {
  margin-top: 40px;
  font-weight: bold;
}

@media (max-width: 600px) {
  /* Adjust styling for smaller screens */
  .App {
    padding: 10px;
  }
}
